@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat.ttf') format('truetype');
}

@font-face {
  font-family: 'SegoeUI';
  src: url('../../fonts/SegoeUIRegular.eot');
  src: url('../../fonts/windows/SegoeUIRegular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/SegoeUIRegular.woff') format('woff'),
  url('../../fonts/SegoeUIRegular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'SegoeUI';
  src: url('../../fonts/SegoeUISemiBold.eot');
  src: url('../../fonts/SegoeUISemiBold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/SegoeUISemiBold.woff') format('woff'),
  url('../../fonts/SegoeUISemiBold.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'SegoeUI';
  src: url('../../fonts/SegoeUIBold.eot');
  src: url('../../fonts/SegoeUIBold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/SegoeUIBold.woff') format('woff'),
  url('../../fonts/SegoeUIBold.ttf') format('truetype');
  font-weight: 700;
}
