// to the top navigation button
#back-top {
  background-color: $color_gray;
  border-radius: 10em;
  bottom: 25px;
  color: $color_dark;
  cursor: pointer;
  font-size: 26px;
  height: 50px;
  line-height: 50px;
  position: fixed;
  right: -100px;
  text-align: center;
  transition: all .25s ease;
  width: 50px;
  z-index: 12;

  &:hover {
    background-color: $color_dark;
  }

  &.active {
    right: 20px;
  }

  span {
    padding-top: 12px;
    color: $color_very_light;
  }
}
