@import url('https://fonts.googleapis.com/css?family=Cuprum|Roboto+Condensed');

body {
  font-family: "Cuprum","Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
