@charset "utf-8";
/*** global ****/
@import url('https://fonts.googleapis.com/css?family=Cuprum|Roboto+Condensed');

html {
  position: relative;
  min-height: 100%;
}
body {
  position: static;
  margin-top: 0;
  /* Margin bottom by footer height */
  margin-bottom: 270px;
  font-family: "Cuprum","Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
}
body.path-frontpage {
  margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto Condensed","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*** sprites ***/
.sprite {
  background-image: url("../images/sprite.png");
}
@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
	.sprite {
		 background-image: url("../images/sprite2x.png");
		 background-size: 959px 556px;
	}
}
.sprite-case {
	width: 64px;
	height: 64px;
	background-position: 0 0;
}
.sprite-coat-ro {
	width: 64px;
	height: 64px;
	background-position: -64px -64px;
}
.sprite-feed {
	width: 64px;
	height: 64px;
	background-position: -128px -128px;
}
.sprite-globe {
	width: 32px;
	height: 32px;
	background-position: -192px -192px;
}
.sprite-hands {
	width: 64px;
	height: 64px;
	background-position: -224px -224px;
}
.sprite-inspection {
	width: 64px;
	height: 64px;
	background-position: -288px -288px;
}
.sprite-menu-arrow-dark {
	width: 16px;
	height: 17px;
	background-position: -352px -352px;
}
.sprite-menu-arrow-light {
	width: 16px;
	height: 17px;
	background-position: -368px -369px;
}
.sprite-menu-arrow-selected {
	width: 16px;
	height: 17px;
	background-position: -384px -386px;
}
.sprite-notepad {
	width: 64px;
	height: 64px;
	background-position: -400px -403px;
}
.sprite-people-bg {
	width: 495px;
	height: 89px;
	background-position: -464px -467px;
}

/* header */
.navbar-header{
  float: none;
}
.region-navigation {
  margin: 9px 0 0 0;
}
.region-navigation .logo {
  float: left;
  display: block;
}
.region-navigation .name {
  float: none;
  padding: 0;
  margin: 0 0 0 65px;
  display: block;
  height: auto;
}
.navbar-default .navbar-text {
  float: none;
  font-size: 85%;
  margin: 5px 0 0 65px;
  display: block;
  color: #949ea0;
}
.navbar-default {
  background: #2c3e50 url("../images/header-bg.png") no-repeat;
  background-position: 641px 42px;
}
@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .navbar-default {
    background: #2c3e50 url("../images/header-bg2x.png") right bottom no-repeat;
    background-size: 495px 89px;
  }
}
.navbar-nav {
  float: none;
}
.navbar-nav .to-portal {
  padding-top: 14px;
  padding-bottom: 14px;
}

/* content */
.main-container {
  padding-bottom: 21px;
}
.content img {
  background-color: #ecf0f1;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 15px;
  margin: 0 15px 15px 0;
}
.content figure img {
  float: none;
}
.content figcaption {
  font-style: italic;
  margin-bottom: 15px;
}
/* footer */
.footer-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 270px;
}
.footer {
  margin-top: 0;
  padding-bottom: 10px;
  background-color: #2c3e50;
  color: #e5e5e5;
  font-size: 85%;
  border-top: none;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
  /* Set the fixed height of the footer here */
  min-height: 270px;
}
.footer a {
  color: #e5e5e5;
}
.footer h2{
  margin-top: 0;
  font-size: 19px;
  border-bottom: 2px solid #e5e5e5;
  padding-bottom: 5px;
}
.path-frontpage .footer-wrapper {
  background-color: #2c3e50;
  position: static;
  height: auto;
}
.path-frontpage .footer-wrapper .footer {
  border-radius: 0;
}
.footer.container {
  max-width: 1140px;
}
.footer .region {
  margin-bottom: 21px;
}
.footer .region ul.menu {
  padding-left: 0;
}
.footer .region ul.menu li {
  list-style-type: none;
  margin-bottom: 2px;
}
.footer .region-footer {
  margin: 0;
}

/* other */



.field-top-padding {
  padding-top: 21px;
}
.img-center {
  display: block;
  margin: 0 auto;
}
.dotted-overlay {
	background: transparent url("../images/gridtile.png") repeat;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

/*** front page ****/
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}
.carousel {
  margin-bottom: 60px;
  position: relative;
}
.carousel .item {
  height: 500px;
}
.carousel-caption {
  z-index: 9;
}
/* frontpage banner */
#frontpage-banner {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #808080;
  height: 400px;
  position: relative;
  margin-bottom: 60px;
}
#frontpage-banner .caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 40px;
  color: #ffffff;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}
#frontpage-banner .caption h1 {
  font-size: 36px;
}
#frontpage-banner img {
  margin: 0 20px 0 0;
  float: left;
  display: none;
}
@media (min-width: 768px) {
  #frontpage-banner img {
    display: block;
  }
}
@media (min-width: 1200px) {
  #frontpage-banner .caption {
    left: 20%;
    right: 20%;
  }
  #frontpage-banner .caption h1 {
    font-size: 48px;
  }
}


/* featurettes */
.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* marketing content */

/* center align the text within the three columns below the carousel */
.marketing .col-lg-4, .marketing .col-lg-12 {
  margin-bottom: 20px;
}
.marketing .col-lg-4 {
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* banners-block content */

.block-banners {
  padding-top: 30px;
  background-color: #95a5a6;
}
.block-banners .col-md-3 {
  text-align: center;
  margin: 15px 0;
}

/* responsive css */
@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
}

/*** menus ****/

/* main menu */
.menu a.is-active {
  text-decoration: underline;
}

/* nested side menu (http://stackoverflow.com/questions/29063244/consistent-styling-for-nested-lists-with-bootstrap) */
.list-group.list-group-root {
  padding: 0;
}
.list-group.list-group-root .list-group {
  margin-bottom: 0;
}
.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;
}
.list-group.list-group-root .list-group-item.active {
  font-weight: bold;
  color: #18bc9c;
  background-color: #ffffff;
  z-index: 0;
}
.list-group.list-group-root .list-group-item:hover {
  background-color: #2c3e50;
  color: #ffffff
}
.list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;
}
.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 30px;
  background-image: url("../images/menu_arrow_dark.png");
  background-repeat: no-repeat;
  background-position: 12px center;
}
.list-group.list-group-root > .list-group > .list-group-item:hover {
  background-image: url("../images/menu_arrow_light.png");
}
.list-group.list-group-root > .list-group > .list-group-item.active {
  background-image: url("../images/menu_arrow_sel.png");
}
.list-group.list-group-root > .list-group > .list-group > .list-group-item {
  padding-left: 45px;
}

/*** news ****/
.news.teaser.is-sticky {
  background-color: #ecf0f1;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 15px;
  margin-bottom: 15px;
}
.news.teaser .content img {
  float: left;
}
.news.full .content .field--name-field-image-news .field--item {
  float: left;
}

/* feed */
.feed-icons {
  padding-top: 21px;
}

/*** employees ****/
.employee .field--name-field-branch {
  font-size: 22.5px;
  line-height: 1.4;
  font-weight: 300;
}
.employee .field--name-field-emp-jobtitle {
  font-size: 22.5px;
  line-height: 1.4;
  font-weight: 300;
}
.employee .field {
  margin-bottom: 15px;
}
.employee .field--name-field-emp-photo img {
  border-radius: 50%;
  border: 0;
  padding: 0;
}

/*** photoalbums ****/
.photoalbum.teaser {
  text-align: center;
}
.photoalbum.full img {
  float: left;
  margin: 15px 15px 15px 0;
}

/*** documents ****/
.document h4 {
  margin-top: 0;
}
.document .content {
  padding-left: 75px;
  background: url("../images/file-img.png") top left no-repeat;
  min-height: 65px;
}

/*** inspections ****/
.inspection h2 {
  margin-top: 0;
}
.inspection .content {
  padding-left: 75px;
  background: url("../images/inspect-img.png") top left no-repeat;
  min-height: 75px;
}

/*** custom blocks ****/
#block-szn-logo {
  margin-bottom: 5px;
}
#block-szn-logo .sprite {
  float: left;
}
#block-szn-logo .bn-text-wrapper {
  position: relative;
  height: 64px;
}
#block-szn-logo .bn-text-wrapper a{
  position: absolute;
  top: 50%;
  padding: 0 10px;
  transform: translateY(-50%);
}

/*** banners right ****/
#block-static-bns-block-right .views-row {
  position: relative;
  margin-bottom: 8px;
}
#block-static-bns-block-right .views-field-field-bn-image {
  padding: 8px;
}
#block-static-bns-block-right .views-field-field-bn-url a {
  border: 1px solid #18bc9c;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  padding-left: 64px;
  display: flex;
  align-items: center;
}

/*** structure ****/
.view-structure ul {
  padding-left: 0;
}
.view-structure ul ul {
  padding-left: 3em;
}
.view-structure ul li {
  list-style-type: none;
}
.view-structure .views-field {
  min-height: 20px;
  padding: 10px 15px;
  margin-bottom: 10px;
  border: 2px solid #dce4ec;
  border-radius: 4px;
  box-shadow: none;
}
.view-structure .views-field:hover {
  background-color: #ecf0f1;
}

/*** side panel ***/
#side-float-panel {
  position: fixed;
  bottom: 50%;
  right: 0;
  background-color: #ecf0f1;
}
/* blind version */
#to-blind-version {
  display: block;
  float: right;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
  padding: 3px 10px;
}
.blind-panel {
  display: none;
}

/*** to top navigation ***/
#back-top {
  position: fixed;
  bottom: 30px;
  right: 3%;
  border: 2px solid #18bc9c;
  border-radius: 4px;
}
#back-top a {
  text-align: center;
  font-size: 24px;
  line-height: 60px;
  width: 60px;
  height: 60px;
  display: block;
}